@media screen and (max-width:600px) {
    header{
        width: 90%;
    }
    nav ul{
        display:none;
    }
    .hambargar{
        display:block;
    }
    .banner-heading{
        font-size: 30px;
        margin-top:52px;
        margin-bottom: 10px;
    }
    .banner-description{
        max-width: 420px;
        line-height: normal;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px
    }
    .input-content{
        flex-direction: column;
    }
    .input-content{

    }
    input{
        width: 255px;
        height: 52px;
    }

}