/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding:0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}
/* header Style */

/* Fist page Style */
/* nav Style */
nav{
    display: flex;
    justify-content: space-between;
    margin:50px 0;
}
nav ul,.logo{
    display:flex;
    align-items: center;
}
.logo h2{
    margin-left: 20px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
}
.orange{
    color: #FF5400;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 44px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s;
}
nav ul li a:hover{
    color:#FF5400;
}
.hambargar{
    display: none;
    font-size: 40px;
}
.conteinar{
    width: 80%;
    max-width: 1170px;
    margin:0 auto;
}
.banner{
    height: 600px;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../img/Rectangle\ 1.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.banner-heading{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin:54px 0px;
}
.banner-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 600px;
    margin:0 auto;
    margin-bottom: 45px;
}
.input-content{
    display:flex;
    max-width: 768px;
    height: 80px;
    margin:0 auto;
    gap:24px;
    padding:16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);  
}
input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border:none;
    outline: none;
    padding-left: 10px;
}
.button input[type='button']{
    padding: 0 20px;
    background-color: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
}
.button input[type='button']:hover{
    background-color: #aa410c;
}

/* Sceond Page Stayle  */
.popular-conteinar{
    display:flex;
    justify-content: space-between;
    margin:130px auto;
}
.popular-text-content{
    width: 50%;
}
/* commone heading and discription */
.heading{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.discription{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}
/* Common heading and discription End */
.tours-name{
    font-size:30px;
    margin-bottom:24px;
}

.tours-point{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 525px;
    margin-bottom: 24px;
}
.tours-point li{
    margin-left: 10px;
    padding-left:10px;
}
.popular-img-content{
    width: 50%;
    display:flex;
    justify-content: flex-end;
}
.popular-img-content img{
    width: 90%;
}
.main-btn{
    padding:15px 35px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color:#FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s;
}
.main-btn:hover{
    background: #aa410c;
}
/* Third Page Style */
.destination-text-content{
    text-align: center;
}
.destination-text-content p{
    margin: 10px auto;
}
.destination-grid-content{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 300px 286px 300px;
    gap:24px;
    margin: 50px auto;
}
.box{
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
#img-1{
    background: url('../img/img-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1/ 7;
}
#img-2{
    background: url('../img/img-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 7/ 13;
}
#img-3{
    background: url('../img/img-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1/5;
}
#img-4{
    background: url('../img/img-4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 5/10;

}
#img-5{
    background: url('../img/img-5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 10/13;
}
#img-6{
    background: url('../img/img-6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1/6;
}
#img-7{
    background: url('../img/img-7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 6/13;
}
/* Fourth Page style */
.choose-conteinar{
    margin: 130px auto;
}
.why-choose-text-content p{
    margin: 24px auto;
    text-align: center;
}
.why-choose-text-content h1{
    text-align: center;
}

.why-choose-us-conteinar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    margin: 50px auto;
}
.hotel{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.hotel, .map, .price{
    width: calc( 50% - 24px);
    padding:30px;
}

/* Fifth Page Style */
.packages-1{
    background: url('../img/package1-3.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px auto;
}
.deal-discount-text-content{
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
.packages-card{
    padding:50px;
    max-width: 580px;
    height: 390px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2.5px);
    display: flex;
    gap:20px;
    flex-direction: column;
    margin: 50px;
}
.packages-2{
    background: url('../img/package-2.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.packages-btn{
    margin: 50px;
    display: flex;
    justify-content: center;
}
/* Six Page Style */
.perfect-place{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 130px auto;
}
.perfect-place ul{
    padding:0 20px;
}
.perfect-place-text-content{
    width: 48%;
}
.perfect-place-text-content ul li{
    margin: 10px 0;
}
.perfect-place-video{
    width: 50%;
}
.perfect-place-video video{
    width: 100%;
    border-radius: 14px;
}
/* Extra Giude Section */
.guide-img-conteinar{
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: space-between;

}
.Guide-text-content{
    text-align: center;
}
.guide-social-icon{
    font-size: 20px;
}
.guide-profile-card .guide-name{
    font-size: 20px;
    font-weight:500;
    margin: 15px 0;
}
.guide-profile-card{
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    cursor: pointer;
    transition: all 0.5s;
}
.guide-profile-card:hover{
    transform: translateY(-10px);
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

 .guide-profile img{
    width: 250px;
    height: 300px;
    border-radius: 16px;
}
/* seven page  */
.new-letter{
    display: flex;
    justify-content: space-between;
    gap:2%;
    margin: 130px auto;
}
.new-letter-form input{
    width: 90%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    margin: 16px 0;
}
.new-letter-text-content{
    width: 40%;
    height: 420px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #FF5400;
    text-align: center;
    justify-content: center;
}

.new-letter-img-content{
    width: 55%;
    height: 420px;
    background: url('../img/Rectangle-8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    position: relative;
}
.offer-content{
    position: absolute;
    right: 0;
    bottom:9%;
    transform: rotate(-20deg);
    text-align: center;
    width: 40%;
    height: 20%;
    padding: 10px;
    background-color: #FF5400;
    border-radius: 16px;
    display: flex;
    flex-direction: column;justify-content: center;
}
/* Extra Review Style */
.review-conteinar{
    margin: 130px auto;
}
.review-text-content{
    margin: 50px 0;
    text-align: center;
}
.review-costomer-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.col-3{
    padding: 10px;
    box-shadow: 0px 0px 10px #FF5400;
    text-align: center;
    border-radius: 16px;
}
.rating{
    color:#FF5400;
}
.col-3 img{
    border: 5px solid #FF5400;
    border-radius: 50%;
}
/* Extra review Style End */

/* Footer style */
footer{
    background: rgba(19, 19, 24, 0.05);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer{
    text-align: center;
}
.footer-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.footer-hr{
    margin: 50px auto;
}
.footer-content{
    text-align: center;
}
.footer-icon{
    font-size: 40px;
    cursor: pointer;
}